#setxkbmap de &
#xrandr --output eDP-1 --mode 1920x1080 --rate 60.00 &
xinpt &
mpd &
picom -f &
wallchanger $HOME/Pictures/Wallpapers/lol/ 10 &
unclutter &
dunst &
#exec /usr/lib/xfce-polkit/xfce-polkit &
